<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.0.7324.0">
	<connectionStrings>
		<add connectionString="data source=LAPTOP8438\SF_MSSQLSERVER;UID=SA;PWD=SQLpassword69*;initial catalog=SF_CERTIFICATION_COURSE_DB" name="Sitefinity" />
	</connectionStrings>
</dataConfig>