<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.0.7324.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="D41D540F3BD40F2BF4F52FEF3AA69A03578B210BAB1A1E34AECAEC8B76C37C6663ED799C292AF6A558FEACE8D6D630F7534264D3A76983CEA7102410942AC494" decryptionKey="E709D80E0733556F8C56FD6926E83C9F9B4574BAD2D8438CF2EC692BA9691677" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="EFF06277DB62AC86949E38F68895925ACC5BBAE1A0786B4CF7577DEDBA857C52" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="EFF06277DB62AC86949E38F68895925ACC5BBAE1A0786B4CF7577DEDBA857C52" realm="http://localhost" />
	</relyingParties>
</securityConfig>