<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.0.7324.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add name="Featured Articles" access="Anonymous" urlName="featured-articles">
					<types>
						<add urlName="newsitems" clrType="Telerik.Sitefinity.News.Model.NewsItem" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
							<propertyMappings>
								<remove Name="LastModified" />
								<remove Name="Provider" />
								<remove Name="PublicationDate" />
								<remove Name="DateCreated" />
								<remove Name="IncludeInSitemap" />
								<remove Name="Tags" />
								<remove Name="AllowComments" />
								<remove Name="Comments" />
								<remove Name="Summary" />
								<remove Name="Content" />
								<remove Name="Author" />
								<remove Name="SourceName" />
								<remove Name="SourceSite" />
								<add SelectedByDefault="True" Name="Category" config:flags="1" />
							</propertyMappings>
							<methods>
								<add QueryString="$expand=FeaturedImage&amp;$count=true&amp;$top=3" Name="top" />
							</methods>
						</add>
						<add urlName="images" clrType="Telerik.Sitefinity.Libraries.Model.Image" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
					</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>