<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.0.7324.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add name="Featured Articles" access="Anonymous" urlName="featured-articles">
					<types>
						<add urlName="newsitems" autogenerateProps="False" clrType="Telerik.Sitefinity.News.Model.NewsItem" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
							<propertyMappings>
								<add PersistentName="Id" ReadOnly="True" IsKey="True" Name="Id" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="Title" Name="Title" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="Description" Name="Description" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="UrlName" Name="UrlName" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add ResolverType="Telerik.Sitefinity.Web.Services.Contracts.RelatedDataPropertyResolver" Name="FeaturedImage" type:this="Telerik.Sitefinity.Web.Api.Configuration.NavigationPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="Category" AllowSort="False" Name="Category" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
							</propertyMappings>
							<methods>
								<add QueryString="$expand=FeaturedImage&amp;$count=true&amp;$top=3" Name="top" />
							</methods>
						</add>
						<add urlName="images" autogenerateProps="False" clrType="Telerik.Sitefinity.Libraries.Model.Image" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
							<propertyMappings>
								<add PersistentName="Id" ReadOnly="True" IsKey="True" Name="Id" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add ResolverType="Telerik.Sitefinity.Web.Services.Extensibility.ProviderNameProperty" SelectedByDefault="False" Name="Provider" type:this="Telerik.Sitefinity.Web.Api.Configuration.CalculatedPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="Title" Name="Title" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="Description" Name="Description" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="UrlName" Name="UrlName" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add ResolverType="Telerik.Sitefinity.Modules.Libraries.Web.Services.Extensibility.MediaUrlProperty" thumbnail="thumbnail" Name="ThumbnailUrl" type:this="Telerik.Sitefinity.Web.Api.Configuration.CalculatedPropertyMapping, Telerik.Sitefinity.Web.Api" />
							</propertyMappings>
						</add>
					</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>